Repository NikhilSharma03/aeiou, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/contract, area/ui

ci: fix build ui workflow
  .github/workflows/deploy-ui.yml
Labels: area/ci

Deploying to gh-pages from @ NikhilSharma03/AEIOU@c65a0a7d794cd3765070a481ab327926ac1a5058 🚀
  asset-manifest.json
  favicon.ico
  index.html
  static/css/main.260d2690.css
  static/css/main.260d2690.css.map
  static/js/787.21f21c40.chunk.js
  static/js/787.21f21c40.chunk.js.map
  static/js/main.747127a8.js
  static/js/main.747127a8.js.LICENSE.txt
  static/media/banner.3458fa95506cdf9fb2ce.png
Labels: none

Updates
  asset-manifest.json
  index.html
  static/js/main.56371407.js
  static/js/main.56371407.js.LICENSE.txt
  static/js/main.747127a8.js
  static/js/main.747127a8.js.LICENSE.txt
Labels: none

docs: update documentation
  README.md
  ui/package-lock.json
  ui/package.json
  ui/src/index.tsx
Labels: area/docs, area/ui

Deploying to gh-pages from @ NikhilSharma03/AEIOU@825f9000724baa5d0599decf34c071236a8efde3 🚀
  asset-manifest.json
  index.html
  static/js/main.56371407.js
  static/js/main.56371407.js.LICENSE.txt
  static/js/main.c0b0c5b1.js
  static/js/main.c0b0c5b1.js.LICENSE.txt
Labels: none

feat: add auto connect wallet
  ui/package-lock.json
  ui/package.json
  ui/src/App.tsx
  ui/src/components/Navbar/navbar.tsx
  ui/src/pages/Campaign/campaign.tsx
  ui/src/pages/Campaigns/campaigns.tsx
  ui/src/pages/NewCampaign/newcampaign.tsx
  ui/src/redux/actions/user.ts
  ui/src/utils/web3modal.ts
Labels: area/ui

Deploying to gh-pages from @ NikhilSharma03/AEIOU@ccf38eb2ee019d823af9bb003959a0e0f8c2841f 🚀
  asset-manifest.json
  index.html
  static/js/main.c0b0c5b1.js
  static/js/main.c0b0c5b1.js.LICENSE.txt
  static/js/main.d97d6af6.js
  static/js/main.d97d6af6.js.LICENSE.txt
Labels: none

docs: update banner image
  assets/banner.png
Labels: area/docs

.github/labeler.yml:

area/docs:
  - 'README.md'
  - 'assets/**/*'

area/ci:
  - '.github/**/*'

area/contract:
  - 'contract/**/*'

area/ui:
  - 'ui/**/*'
